@charset "utf-8";
* {
    margin:0;
    padding:0;
}
body, html {
    width:100%;
    height:100%;
    font-family: 'Noto Sans KR', sans-serif;
    -ms-overflow-style:none;
}
::-webkit-scrollbar { display:none; }
::-moz-scrollbar { display:none; }
::-ms-scrollbar { display:none; }
::-o-scrollbar { display:none; }
ul {
    list-style:none;
}
a {
    text-decoration:none;
}
/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/* 브라우저 */
.wrap {
    width:100%;
    height:100%;
}
/* 헤더영역 */
#hd {
    width:100%;
    height:160px;
    border-bottom:1px solid #efefef;
}
.tnb, .gnb {
    width:1600px;
    margin:0 auto;
    position:relative;
}
.tnb {
    height:80px;
    padding-top:20px;
    box-sizing: border-box;
}
.tnb ul li a {
    color:#aaa;
    font-size:0.9em;
}
.tnb ul li a:hover {
    color:#092037;
}
.topLeft {
    float:left;
}
.topLeft li {
    float:left;
    margin-right:20px;
}
.topRight {
    float:right;
}
.topRight li {
    float:left;
    margin-left:20px;
}
.logo {
    position:absolute;
    display:block;
    background-image:url("images/logo.png");
    width:120px;
    height:80px;
    background-repeat:no-repeat;
    left:calc(calc(100% - 120px) / 2);
}

/* 헤더영역 - 메인메뉴 */
.menu {
    width:800px;
    height:80px;
    margin:0 auto;
    padding-top:40px;
    box-sizing:border-box;
}
.menu li {
    float:left;
    width:24%;
    line-height:40px;
    margin-right:1%;
     position:relative;
}
.menu li a {
    display:block;
    color:#666;
    font-size:1.1em;
    text-align:center;
}
.menu li:hover a {
    color:#092037;
}
.resBtn {
    display:block;
    width:120px;
    height:50px;
    background:#092037;
    color:#fff;
    text-align:center;
    line-height:50px;
    position:absolute;
    right:0;
    bottom:0;
    transition:0.3s;
}
.resBtn:hover {
    background-color:#f1ca41;
    color:#fff;
}
.subMenu {
    position:absolute;
    width:100%;
    height:auto;
    background-color:#092037;
    top:40px;
    left:0;
    display:none;
    z-index:9999;
}

.subMenu li {
    line-height:50px;
    width:192px;
}
.menu .subMenu li a {
    display:block;
    color:#fff;
    line-height:50px;
    transition:0.5s;
}
.menu .subMenu li:hover a {
    color:#f1ca41;
}

/*비주얼영역 */
#vs {
    width:100%;
    height:100%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
    margin-top:-1px;
}
.imgBox {
    width:100%;
    height:100%;
    position:relative;
}
.imgBox li {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:20;
}
.item1 {
    background-image:url("./images/vImg1.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.item2 {
    background-image:url("./images/vImg2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.item3 {
    background-image:url("./images/vImg3.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.item4 {
    background-image:url("./images/vImg4.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.txtBox {
    position:absolute;
    width:600px;
    height:600px;
    top:calc(calc(100% - 800px) / 2);
    left:calc(calc(100% - 600px) / 2);
    z-index:999;
}
.btnBox {
    position:absolute;
    width:1600px;
    height:56px;
    top:calc(calc(100% - 300px) / 2);
    z-index:999;
    left:calc(calc(100% - 1600px) / 2);
}
.btnBox button {
    border:0;
    outline:0;
    transition:0.3s;
}
.leftBtn {
    display:block;
    background-image:url("./images/vPrev.png");
    width:79px;
    height:56px;
    background-color:transparent;
    cursor:pointer;
    float:left;
    margin-left:20px;
}
.rightBtn {
    display:block;
    background-image:url("./images/vNext.png");
    width:79px;
    height:56px;
    background-color:transparent;
    cursor:pointer;
    float:right;
    margin-right:20px;
}
.leftBtn:hover {
    margin-left:0;
}
.rightBtn:hover {
    margin-right:0;
}
.bookBox {
    width:1400px;
    height:150px;
    background-color:#fff;
    position:absolute;
    bottom:5%;
    left:calc(calc(100% - 1400px) / 2);
    z-index:999;
}
/* 컨텐츠2 영역 */
#con2 {
    width:100%;
    height:100%;
    clear:both;
}

#con3 {
    width:100%;
    height:100%;
    clear:both;
}
/* 푸터 영역 */
#ft {
    width:100%;
    height:200px;
    clear:both;
    background-color:#092037;
}