@charset "utf-8";
.grid {
    width:94%;
    margin:0 auto;
}
.cul1 {
    width:80px;
}
.cul1 {
    width:160px;
}
.cul1 {
    width:240px;
}
.cul1 {
    width:320px;
}
.cul1 {
    width:400px;
}
.cul1 {
    width:480px;
}
.cul1 {
    width:560px;
}
.cul1 {
    width:640px;
}
.cul1 {
    width:720px;
}
.cul1 {
    width:800px;
}
.cul1 {
    width:880px;
}
.cul1 {
    width:960px;
}
